Votre paiement a bien été enregistré, vous allez recevoir un mail avec votre pass

<p class="text-center">  <%= link_to "valider votre inscription", { :controller => "events", :action => "after_pay"}, class: "btn btn-success" %> </p>
