/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import 'bootstrap-sprockets';
 @import 'bootstrap';




 // ======================================== FONT SIZE ============================================

 /*
    .writingsmall {font-size: 0.95rem;}
    .writingbig {font-size: 1.2rem;}
    @media (max-width: 992px) {
      .writingbig {font-size: 1.5rem;}
      }
    .writingbigbig {font-size: 1.5rem;}
    @media (max-width: 992px) {
      .writingbigbig {font-size: 1.8rem;}
      }
    .writingbigbigbig {font-size: 1.8rem;}
    @media (max-width: 992px) {
      .writingbigbigbig {font-size: 2.4rem;}
      }
    .writingbigbigbigbig {font-size: 2.4rem;}
    @media (max-width: 992px) {
      .writingbigbigbigbig {font-size: 3rem;}
      }
*/

  /* 
  ============================================container
  */
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }


  @media (min-width: 576px) {
    .container {
      width: 95%;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      width: 93%;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 90%;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 87%;
    }
  }



// ======================================mycontainer
 .mycontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }


  @media (min-width: 576px) {
    .mycontainer {
      width: 95%;
    }
  }
  
  @media (min-width: 768px) {
    .mycontainer {
      width: 93%;
    }
  }
  
  @media (min-width: 992px) {
    .mycontainer {
      width: 90%;
    }
  }
  
  @media (min-width: 1200px) {
    .mycontainer {
      width: 87%;
    }
  }


  // ========================================mybigcontainer
  .mybigcontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }


  @media (min-width: 576px) {
    .mybigcontainer {
      width: 95%;
    }
  }
  
  @media (min-width: 768px) {
    .mybigcontainer {
      width: 93%;
    }
  }
  
  @media (min-width: 992px) {
    .mybigcontainer {
      width: 90%;
    }
  }
  
  @media (min-width: 1200px) {
    .mybigcontainer {
      width: 87%;
    }
  }

  // =============================================mylittlecontainer


  .mylittlecontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }


  @media (min-width: 576px) {
    .mylittlecontainer {
      width: 95%;
    }
  }
  
  @media (min-width: 768px) {
    .mylittlecontainer {
      width: 93%;
    }
  }
  
  @media (min-width: 992px) {
    .mylittlecontainer {
      width: 90%;
    }
  }
  
  @media (min-width: 1200px) {
    .mylittlecontainer {
      width: 87%;
    }
  }



//=================================big et little contenair display



@media (min-width: 992px) {
  .mybigcontainer {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
  }
}
@media (min-width: 992px) {
  .mylittlecontenair {
    display: none;
  }
  .dontdisplayifmediasup992 {
    display: none;
  }
}

@media (max-width: 992px) {
  .mybigcontainer {
    display: none;
  }
}

//================================================= DONT DISPLAY ===


@media (max-width: 768px) {
  .dontdisplayifmediaunder768 {
    display: none;
  }
}
@media (min-width: 768px) {
  .dontdisplayifmediasup768 {
    display: none;
  }
}

@media (max-width: 992px) {
  .dontdisplayifmediaunder992 {
    display: none;
  }
}


@media (max-width: 1200px) {
  .dontdisplayifmediaunder1200 {
    display: none;
  }
}


@media (max-width: 1600px) {
  .dontdisplayifmediaunder1600 {
    display: none;
  }
}

@media (max-width: 1800px) {
  .dontdisplayifmediaunder1800 {
    display: none;
  }
}






// ========================================== Orientation différentes des cartes selon leur ordre .... =======================================


.card {
  -webkit-transition: width 2s, transform .2s;
  transition: width 2s, transform .2s;
  }


.card:hover {

    transform: rotate(0deg);
    z-index: 1.2;
    
    }

// c'était -2deg
.card:nth-of-type(n+1) {
  transform: rotate3d(0, 0, 1, -4deg);
  }
// pour que ce ne soit pas de travers sur le portable.
.card:nth-of-type(n+1).dontdisplayifmediasup992 {
    transform: rotate(0deg);
    }

.card:nth-of-type(n+1):hover {
  
  transform: rotate(0deg);
   

  z-index: 15;
  }


.card:nth-of-type(n+2) {
    transform: rotate3d(1, 0, 10, 4deg);
    }

.card:nth-of-type(n+2):hover {
    transform: rotate(0deg);
    z-index: 15;      
    }


.card:nth-of-type(n+3) {
      transform: rotate3d(1, 0, 10, -3deg);
      }
      
.card:nth-of-type(n+3):hover {
      transform: rotate(0deg);
      z-index: 15;        
      }


.card:nth-of-type(n+4) {
        transform: rotate(3deg);
        }
        
.card:nth-of-type(n+4):hover {
        transform: rotate(0deg);
        z-index: 15;        
        }

        
       
          
.card:nth-of-type(n+5) {
            transform: rotate(-2deg);
            }
        
.card:nth-of-type(n+5):hover {
            transform: rotate(0deg);
            z-index: 15;        
            }
        

        
.card:nth-of-type(n+6) {
              transform: rotate(4deg);
              }
              
.card:nth-of-type(n+6):hover {
              transform: rotate(0deg);
              z-index: 15;        
              }
        
        

.card:nth-of-type(n+7) {
                transform: rotate(-3deg);
                }

.card:nth-of-type(n+7):hover {
                transform: rotate(2deg);
                z-index: 15;        
                }
  
                
                
.card:nth-of-type(n+9) {
                  transform: rotate(-3deg);
                  }

.card:nth-of-type(n+9):hover {
                  transform: rotate(0deg);
                  z-index: 15; 
                  }




// ===================================================      BOX RECHERCHE        ====================================================

.boxfriendsnews {
  width: 100% ;
  height: 800px ;
  margin: auto ; 
  padding: 5px ;
  -webkit-transition: width 2s, transform .2s;
  transition: width 2s, transform .2s;
  p { display: none; }
  h3 { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); transform: rotate(270deg); }
  }
.boxfriendsnews:hover {
  width: 600%;
  z-index: 15 ;
  h3 { display: none; }
  p { display: block; }
}


.boxprofsnews {
  width: 100% ;
  height: 800px ;
  margin: auto ; 
  padding: 5px ;
  z-index: 1;
  -webkit-transition: width 2s, transform .2s;
  transition: width 2s, transform .2s;
  p { display: none; }
  }
.boxprofsnews:hover {
  width: 600%;
  z-index: 15 ;
  h3 { display: none; }
  p { display: block; }
}

// ============================== rotating3d ==================================


.rotating3d {
  transform: rotate3d(1, 1, 1, 5deg);
}



//=================================================

.biggerdivonclick {
  width: 130% ;
}



/*
.card:active {
  width: 160% ;
  @media (max-width: 992px) { font-size: 4rem ; height: 160% ; }
}
*/
//Fonctionne ! ================================   notdisplayuntilactiv  =========================================== faudra rajouter un   if (width <= 400px) {width: 160% ;} elsif (width <= 435px) {width: 145% ;} elsif (width <= 470px) {width: 130% ;} elsif (width <= 505px) {width: 115% ;} ... 




.card { 
  .notdisplayuntilactiv {display: none;} ; 
  .notdisplaywhenactiv {display: block;} ; 
}
@media (min-width: 992px) {
  .card:active {
    width: 160% ; 
    
    .notdisplayuntilactiv { display: block; } ;
    .notdisplaywhenactiv {display: none; } ;
    img { width: 80% ; margin: auto;  } ;
  }
}






/*

PAS ENCORE TESTE CELLE6CI
@media (min-width: 992px) {
  .card:active {
    @card { 
        (max-width: 400px) {
          width: 160% ;
        } ; 
      } ;
    @card (max-width: 435px) {
        width: 145% ;
      } ;
    @card (max-width: 470px) {
        width: 130% ;
      } ;
    @card (max-width: 700px) {
        width: 115% ;
      } ;
    .notdisplayuntilactiv { display: block; } ;
    .notdisplaywhenactiv {display: none; } ;
    img { width: 80% ; margin: auto;  } ;
  }
}



@media (min-width: 992px) {
  .card:active {
    .card { 
        (max-width: 400px) {
          width: 160% ;
        } ; 
      } ;
    .card (max-width: 435px) {
        width: 145% ;
      } ;
    .card (max-width: 470px) {
        width: 130% ;
      } ;
    .card (max-width: 700px) {
        width: 115% ;
      } ;
    .notdisplayuntilactiv { display: block; } ;
    .notdisplaywhenactiv {display: none; } ;
    img { width: 80% ; margin: auto;  } ;
  }
}




@media (min-width: 992px) {
  .card:active {
    .card (max-width: 400px) {
        width: 160% ;
      } ;
    .card (max-width: 435px) {
        width: 145% ;
      } ;
    .card (max-width: 470px) {
        width: 130% ;
      } ;
    .card (max-width: 700px) {
        width: 115% ;
      } ;
    .notdisplayuntilactiv { display: block; } ;
    .notdisplaywhenactiv {display: none; } ;
    img { width: 80% ; margin: auto;  } ;
  }
}


/*


@media (min-width: 992px) {
  .card:active {
    width: 160% ; 
    .notdisplayuntilactiv { display: block; } ;
    .notdisplaywhenactiv {display: none; } ;
    img { width: 80% ; margin: auto;  } ;
  }
}



@media (min-width: 992px) {
  .card:active {
    if (width <= 400px){
      width: 160% ;
    } elsif (width <= 435px){
      width: 145% ;
    } elsif (width <= 470px){
      width: 130% ;
    } elsif (width <= 505px) {width: 115% ;} 
    end ; 
    .notdisplayuntilactiv { display: block; } ;
    .notdisplaywhenactiv {display: none; } ;
    img { width: 80% ; margin: auto;  } ;
  }
}
*/



.huger {
  width: 160%;
}






/*
@media (max-width: 992px) {
  .card:active  {
    font-size: 4rem ;
    height: 160% ;
  }
}
*/





// ============================ display ou non si hover ou non =============================

/*
.displayifnothover {
  display: block ;
}
.displayifnothover:hover {
  display: none ;
}
//----------------------
.displaywhenhover {
  display: none ;
}
.displaywhenhover:hover {
  display: block ;
}
*/




//====================test grid




$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);

$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);

/*
.mygrid{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
}
*/


/*
@media (min-width: 34em) {
  .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}

@media (min-width: 48em) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}

@media (min-width: 62em) {
  .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}

@media (min-width: 75em) {
  .card-columns {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
  }
}

*/





// ============================================== FORM ========================================
form {
    box-sizing: content-box;
    display: block;
    margin-top: 0em;
}


*, *::before, *::after {
  box-sizing: content-box; 
}


form{box-sizing:content-box;display:block;margin-top:0em}
*,*::before,*::after{box-sizing:content-box}




// For each breakpoint, define the maximum width of the container in a media query
@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: $mycontainer-max-width;
    }
  }
}



// ======================================= test polaroid =============================================
.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
