/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import 'bootstrap-sprockets';
 @import 'bootstrap';



  
 .mycontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }


  @media (min-width: 576px) {
    .mycontainer {
      width: 95%;
    }
  }
  
  @media (min-width: 768px) {
    .mycontainer {
      width: 93%;
    }
  }
  
  @media (min-width: 992px) {
    .mycontainer {
      width: 90%;
    }
  }
  
  @media (min-width: 1200px) {
    .mycontainer {
      width: 87%;
    }
  }


  /* 
  on le refait pour .contenair (juste pour que le form ait les memes propriétés):
  */
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }


  @media (min-width: 576px) {
    .container {
      width: 95%;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      width: 93%;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 90%;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 87%;
    }
  }



  $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);

$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);




@media (min-width: 34em) {
  .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}

@media (min-width: 48em) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}

@media (min-width: 62em) {
  .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}

@media (min-width: 75em) {
  .card-columns {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
  }
}



form {
    box-sizing: content-box;
    display: block;
    margin-top: 0em;
}


*, *::before, *::after {
  box-sizing: content-box; 
}


form{box-sizing:content-box;display:block;margin-top:0em}
*,*::before,*::after{box-sizing:content-box}




// For each breakpoint, define the maximum width of the container in a media query
@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: $mycontainer-max-width;
    }
  }
}

