<nav class="navbar navbar-default bgwrist4 shadow fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <% if ele_signed_in? %>
              <p class="d-inline text-body writingbigbigbig"><span class="glyphicon glyphicon-check"></span> <%= current_ele.firstname %>, vous êtes connecté en élève</p>
              <button type="button" class="btn bg-transparent text-body writingbigbigbig"><%= link_to destroy_pro_session_path, method: :delete, :class=>"text-body" do %><span class="glyphicon glyphicon-log-out"></span> Logout<%end%></button>
            <% elsif pro_signed_in? %>
              <p class="d-inline text-body writingbigbigbig"><span class="glyphicon glyphicon-check"></span> <%= current_pro.firstname %>, vous êtes connecté en tant que professeur</p>
              <button type="button" class="btn bg-transparent text-body writingbigbigbig"><%= link_to destroy_pro_session_path, method: :delete, :class=>"text-body" do %><span class="glyphicon glyphicon-log-out"></span> Logout<%end%></button>
            <% else %>
              <p class="d-inline"><a href="/eles/sign_up" class="text-body writingbigbigbig"><span class="glyphicon glyphicon-user"></span> Créer compte élève</a></p>
              <p class="d-inline"><a href="/pros/sign_up" class="text-body writingbigbigbig"><span class="glyphicon glyphicon-user"></span> Créer compte professeur</a></p>
            <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-center">
            <p class="d-inline"><a href="/" class="text-body writingbigbigbig"><span class="glyphicon glyphicon-search"></span> RECHERCHER UN EVENT</a></p>
            <% if signed_in? %>
              <p class="d-inline"><a href="/events/new" class="text-body writingbigbigbig"><span class="glyphicon glyphicon-upload"></span> CREER UN EVENT</a></p>
            <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          
          <% if signed_in? %>
            <p class="d-inline"><a href="/eles/index" class="text-body writingbigbigbig"><span class="glyphicon glyphicon-search"></span> Rechercher un élève</a></p>
            <p class="d-inline"><a href="/pros/index" class="text-body writingbigbigbig"><span class="glyphicon glyphicon-search"></span> Rechercher un professeur</a></p>
          <% else %>
            <p class="d-inline"><a href="/eles/sign_in" class="text-body writingbigbigbig"><span class="glyphicon glyphicon-log-out"></span> Me connecter en tant qu élève</a></p>
            <p class="d-inline"><a href="/pros/sign_in" class="text-body writingbigbigbig"><span class="glyphicon glyphicon-log-out"></span> Me connecter en tant que professeur</a></p>
          <% end %>
        </ul>
    </div>
</nav>